body
{   
<<<<<<< HEAD
    color:rgb(40, 20, 219);
=======
    color:rgb(236, 15, 15);
>>>>>>> cabecera
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin:0;
    padding:0;

}
#conteiner
{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;

}




#conteiner h1
{
    font-size: 20px;

}